#content {
margin: auto;
padding: 0;
width: 100vw;
max-width: none;
min-height: 25em;
clear: both;
overflow: hidden;
}

.CE p, .CE_active p {
padding: 0;
line-height: 1.8;
font-size: 1rem !important
}

body .CE.heading-h1, body .heading-h1 {
margin: auto;
max-width: 1350px;
padding: .431em .1em 1em;
border-top: none;
border-right: none;
border-left: none;
border-bottom: none;
font-size: 1.35em;
font-weight: 700;
}

.form {
margin: auto;
padding: .125em .5%;
width: 99%;
max-width: 1350px;
min-height: 25em;
clear: both;
overflow: hidden; 
}
